extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/login") Login
  br
  a(href="/profile") Profile (protected)
  br
  //- Use POST for logout to avoid caching issues
  //- See https://github.com/vvo/iron-session/issues/274
  form(action="/logout", method="post")
    button(type="submit") Logout
