extends layout

block content
  h1= title
  p Welcome user #{userId}
  a(href="/") Home
  br
  //- Use POST for logout to avoid caching issues
  //- See https://github.com/vvo/iron-session/issues/274
  form(action="/logout", method="post")
    button(type="submit") Logout
