name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "lts/gallium"
          cache: "npm"
      - run: npm ci
      - run: npm run test
      - uses: codecov/codecov-action@v2
